{
  "Changes": [{
    "Action": "UPSERT",
    "ResourceRecordSet": {
      "Name": "${RECORD_SET_DOMAIN_NAME}",
      "Type": "${RECORD_SET_TYPE}",
      "TTL": 300,
      "ResourceRecords": [{
        "Value": "${RECORD_SET_VALUE}"
      }]
    }
  }]
}